/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 1200px) and (max-width: 1750px) {
  html {
    font-size: 0.7vw;
  }

  .hero_right {
    position: relative;
    left: 12rem;
    top: 8rem;
  }

  .hero_left img {
    display: block;
    width: 77rem;
  }

  .hero_middle img {
    width: 9rem;
  }

  .hero_middle {
    position: relative;
    left: 18rem;
  }

  .slide_two_left img {
    width: 74rem !important;
    position: relative;
    left: 14rem;
  }

  .slide_three_left img {
    width: 80rem !important;
    position: relative;
    top: 0;
    left: 3rem;
  }

  #hero_slider .swiper-pagination {
    position: absolute;
    left: 36.5rem !important;
    bottom: 8rem !important;
  }

  .p1one_wrapper {
    grid-template-columns: 53.6rem 45.3rem 32rem;
  }

  .plone_right_top img {
    width: 9rem;
  }

  .pltwo .p1one_wrapper {
    grid-template-columns: 32rem 45.3rem 53.6rem;
  }

  .p4middle .plone_right_top img {
    width: 10rem !important;
  }

  .plfive .p1one_wrapper {
    grid-template-columns: 53.6rem 46.3rem 32rem;
  }

  .customer_wrapper {
    padding: 0 8rem;
  }

  footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .footer_link-group {
    column-gap: 10rem;
  }

  .header_left ul li {
    margin-left: 1rem;
  }

  .cmodal_wrapper {
    width: 120rem;
    transform: scale(0.7);
  }

  .cmodal_left {
    grid-template-columns: 46.15rem 48.15rem;
  }

  .cmheading h4 {
    font-size: 2rem;
  }

  .cmitem_link button {
    width: 17.5rem;
  }

  .cmodal_right_wrapper {
    padding: 2.8rem 3.6rem;
  }

  .drp {
    width: 8rem !important;
  }

  .f2img {
    width: 10rem !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 0.8vw;
  }

  .hero_right {
    position: relative;
    left: 12rem;
    top: 8rem;
  }

  .hero_left img {
    display: block;
    width: 77rem;
  }

  .hero_middle img {
    width: 9rem;
  }

  .hero_middle {
    position: relative;
    left: 18rem;
  }

  .slide_two_left img {
    width: 74rem !important;
    position: relative;
    left: 14rem;
  }

  .slide_three_left img {
    width: 80rem !important;
    position: relative;
    top: 0;
    left: 3rem;
  }

  #hero_slider .swiper-pagination {
    position: absolute;
    left: 36.5rem !important;
    bottom: 8rem !important;
  }

  .p1one_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .plone_right_top img {
    width: 9rem;
  }

  .pltwo .p1one_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .p4middle .plone_right_top img {
    width: 10rem !important;
  }

  .plfive .p1one_wrapper {
    grid-template-columns: 50.6rem 33.3rem 29rem;
  }

  .customer_wrapper {
    padding: 0 8rem;
  }

  footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .footer_link-group {
    column-gap: 10rem;
  }

  .header_left ul li {
    margin-left: 1rem;
  }

  .cmodal_wrapper {
    width: 120rem;
    height: 80rem;
  }

  .cmodal_left {
    grid-template-columns: 46.15rem 48.15rem;
  }

  .cmheading h4 {
    font-size: 2rem;
  }

  .cmitem_link button {
    width: 17.5rem;
  }

  .cmodal_right_wrapper {
    padding: 2.8rem 3.6rem;
    height: 80rem;
  }

  .five {
    position: relative;
    transform: scale(0.95);
    margin-top: -1.5rem;
  }

  .cmodal .swiper-button-next {
    bottom: -7rem;
  }

  .f2img {
    width: 8rem !important;
  }

  .drp {
    width: 5rem !important;
  }
}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 50%;
  }

  .p1one_wrapper {
    padding: 0 1.6rem;
    grid-template-columns: initial;
    grid-template-rows: auto 45rem 45rem;
    gap: 1rem;
  }

  .plone_right {
    flex-direction: row;
  }

  .plone_right_top {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  #pbslider img {
    width: 90%;
  }

  .pltwo {
    padding-top: 0 !important;
  }

  .pltwo .p1one_wrapper {
    grid-template-columns: initial !important;
    grid-template-rows: auto !important;
  }

  .pltwo .plone_left {
    order: 1;
  }

  .pltwo_middle {
    order: 2;
  }

  .pltwo_left {
    order: 3;
  }

  .pltwo .plone_right {
    flex-direction: column;
  }

  .plxright {
    flex-direction: row-reverse !important;
  }

  .three .pltwo_middle_one {
    order: 2;
  }

  .three .plone_right {
    order: 1;
    flex-direction: column;
  }

  .plthreex {
    flex-direction: row !important;
  }

  .plfour {
    margin-top: 1.6rem;
  }

  .plfour .plone_right {
    flex-direction: row-reverse !important;
  }

  .plfour .plone_right_top img {
    width: 18.5rem;
  }

  .plfive .p1one_wrapper {
    grid-template-columns: inherit;
    grid-template-rows: auto auto auto !important;
  }

  .plfive .plone_right {
    flex-direction: row-reverse !important;
  }

  .plfive .pltwo_middle_one {
    order: 1;
  }

  .plfive .plone_right {
    order: 2;
  }

  .plfive .plone_right.lastblocks {
    flex-direction: column !important;
  }

  .discount_wrapper {
    padding: 2rem 1.6rem;
  }

  .discount_wrapper {
    grid-template-columns: inherit;
    grid-template-rows: auto;
    gap: 3rem;
  }

  .discount_right img,
  .discount_left img {
    height: 20rem;
  }

  .dr_cnt,
  .dl_cnt {
    right: 3rem;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
  }

  .golden_wrapper {
    grid-template-columns: inherit;
    grid-template-rows: auto;
  }

  .golden_right {
    order: 2;
  }

  .golden_left {
    order: 1;
  }

  .golden_left img {
    height: 25.2rem;
    object-fit: cover;
  }

  .golden_right_wrapper {
    width: 100%;
    padding: 3rem 4.5rem;
  }

  .customer_wrapper {
    padding: 0 1.6rem;
  }

  #customer {
    padding-top: 3rem;
  }

  footer {
    padding: 1.6rem;
  }

  .footer_wrapper {
    flex-direction: column;
  }

  .footer_logo {
    order: 1;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .footer_link-group {
    order: 2;
    column-gap: 7rem;
  }

  .footer_visa {
    order: 3;
  }

  .footer_social_link {
    order: 4;
    margin-top: 4rem;
  }

  .footer_logo p {
    display: none;
  }

  .footer_visa {
    margin-top: 4rem;
  }

  .payment_method {
    margin-top: 4rem;
  }

  .footer_socail {
    display: inline-block;
  }

  .pslider_box p {
    font-size: 1.6rem;
  }

  .offcanvas_link ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.2rem;
  }

  .offcanvas_link ul li a img {
    display: inline-block;
    width: 1.2rem;
  }

  .side_offcanvas.offcanvas.offcanvas-start {
    width: 100%;
    border: 0;
  }

  .cmodal_wrapper {
    width: 89%;
    display: block;
    border-radius: 2rem;
    height: 90%;
    overflow: scroll;
  }

  .cmodal_right_wrapper {
    display: none;
  }

  .cmwrapping,
  .cmodal_left {
    display: block;
  }

  .cmodal_left_slider {
    padding: 4rem;
    padding-bottom: 1rem;
    margin-top: 14rem;
  }

  .cmodal_left_cnt {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .cmheading_box_right {
    display: block;
    text-align: center;
  }
  .cmheading h4 {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
  }

  .cmheading_box_right p.toppara {
    font-size: 1.8rem;
  }

  .cmheading_box_right p.toppara span {
    font-weight: 400;
  }

  .cmheading_box_right p.bottompara {
    justify-content: center;
    padding-right: 0;
    border: 0;
  }

  .cmheading_box {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .cmitem_make_right_wrapper {
    display: block;
  }

  .number_box_wrapping {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .number_box_wrapping p {
    color: #603913;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .number_box_wrapping p strong {
    font-weight: 700;
  }

  .cmitem_box span {
    width: 10rem;
  }

  .cmitem_link button {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .cmitem_make p {
    display: none;
  }

  .mobile_slider {
    background-color: #f4f4f4;
    padding-top: 3rem;
    margin-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mobile_slider h4 {
    text-align: center;
    color: #603913;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  .heart {
    display: inline-block;
    border: 0;
    outline: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    left: 2rem;
    top: 2rem;
  }

  .heart img {
    display: inline-block;
    width: 4.8rem;
  }

  .closeModal img {
    width: 8rem;
  }

  .closeModal {
    top: 1rem;
    left: inherit;
    right: 0rem;
  }

  .cmodal_wrapper::-webkit-scrollbar {
    display: none;
  }
  .cmodal_wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .smheader_middle img {
    scale: 1.2;
  }

  span.discount {
    font-size: 1.8rem;
  }

  p.arbtext {
    font-size: 1.8rem;
  }

  h4.footer_heading {
    font-size: 2.2rem;
  }

  .footer_link ul li a {
    font-size: 2rem;
  }

  .footer_visa ul li a {
    color: #603913;
    font-size: 2.2rem;
  }

  .payment_method p {
    font-size: 2.2rem;
  }
  .footer_link ul.footer_socail li a img {
    display: inline-block;

    width: 3rem;
  }

  span.lastpara {
    font-size: 1.8rem;
  }

  .pltwo_middle .px1 {
    order: 2;
  }

  .pltwo_middle .pltwo_middle_one {
    order: 1;
  }

  .odone {
    order: 4;
  }
  .odtwo {
    order: 1;
  }
  .odthree {
    order: 2;
  }
  .odfour {
    order: 3;
  }

  .pltouch {
    order: inherit !important;
  }

  .pltouch .plone_right_top {
    order: 2;
  }

  .pltouch .plthreex {
    order: 1;
    flex-direction: column !important;
  }

  .plfour {
    padding-top: 1rem !important;
  }

  .pfour_middle .plone_right {
    display: flex;
  }
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }

  .p1one_wrapper {
    padding: 0 1.6rem;
    grid-template-columns: initial;
    grid-template-rows: auto 45rem 45rem;
    gap: 1rem;
  }

  .plone_right {
    flex-direction: row;
  }

  .plone_right_top {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  #pbslider img {
    width: 90%;
  }

  .pltwo {
    padding-top: 0 !important;
  }

  .pltwo .p1one_wrapper {
    grid-template-columns: initial !important;
    grid-template-rows: auto !important;
  }

  .pltwo .plone_left {
    order: 1;
  }

  .pltwo_middle {
    order: 2;
  }

  .pltwo_left {
    order: 3;
  }

  .pltwo .plone_right {
    flex-direction: column;
  }

  .plxright {
    flex-direction: row-reverse !important;
  }

  .three .pltwo_middle_one {
    order: 2;
  }

  .three .plone_right {
    order: 1;
    flex-direction: column;
  }

  .plthreex {
    flex-direction: row !important;
  }

  .plfour {
    margin-top: 1.6rem;
  }

  .plfour .plone_right {
    flex-direction: row-reverse !important;
  }

  .plfour .plone_right_top img {
    width: 18.5rem;
  }

  .plfive .p1one_wrapper {
    grid-template-columns: inherit;
    grid-template-rows: auto auto auto !important;
  }

  .plfive .plone_right {
    flex-direction: row-reverse !important;
  }

  .plfive .pltwo_middle_one {
    order: 1;
  }

  .plfive .plone_right {
    order: 2;
  }

  .plfive .plone_right.lastblocks {
    flex-direction: column !important;
  }

  .discount_wrapper {
    padding: 2rem 1.6rem;
  }

  .discount_wrapper {
    grid-template-columns: inherit;
    grid-template-rows: auto;
    gap: 3rem;
  }

  .discount_right img,
  .discount_left img {
    height: 20rem;
  }

  .dr_cnt,
  .dl_cnt {
    right: 3rem;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
  }

  .golden_wrapper {
    grid-template-columns: inherit;
    grid-template-rows: auto;
  }

  .golden_right {
    order: 2;
  }

  .golden_left {
    order: 1;
  }

  .golden_left img {
    height: 25.2rem;
    object-fit: cover;
  }

  .golden_right_wrapper {
    width: 100%;
    padding: 3rem 4.5rem;
  }

  .customer_wrapper {
    padding: 0 1.6rem;
  }

  #customer {
    padding-top: 3rem;
  }

  footer {
    padding: 1.6rem;
  }

  .footer_wrapper {
    flex-direction: column;
  }

  .footer_logo {
    order: 1;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .footer_link-group {
    order: 2;
    column-gap: 7rem;
  }

  .footer_visa {
    order: 3;
  }

  .footer_social_link {
    order: 4;
    margin-top: 4rem;
  }

  .footer_logo p {
    display: none;
  }

  .footer_visa {
    margin-top: 4rem;
  }

  .payment_method {
    margin-top: 4rem;
  }

  .footer_socail {
    display: inline-block;
  }

  .pslider_box p {
    font-size: 1.6rem;
  }

  .offcanvas_link ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.2rem;
  }

  .offcanvas_link ul li a img {
    display: inline-block;
    width: 1.2rem;
  }

  .side_offcanvas.offcanvas.offcanvas-start {
    width: 100%;
    border: 0;
  }

  .cmodal_wrapper {
    width: 89%;
    display: block;
    border-radius: 2rem;
    height: 90%;
    overflow: scroll;
  }

  .cmodal_right_wrapper {
    display: none;
  }

  .cmwrapping,
  .cmodal_left {
    display: block;
  }

  .cmodal_left_slider {
    padding: 4rem;
    padding-bottom: 1rem;
    margin-top: 14rem;
  }

  .cmodal_left_cnt {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .cmheading_box_right {
    display: block;
    text-align: center;
  }
  .cmheading h4 {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
  }

  .cmheading_box_right p.toppara {
    font-size: 1.8rem;
  }

  .cmheading_box_right p.toppara span {
    font-weight: 400;
  }

  .cmheading_box_right p.bottompara {
    justify-content: center;
    padding-right: 0;
    border: 0;
  }

  .cmheading_box {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .cmitem_make_right_wrapper {
    display: block;
  }

  .number_box_wrapping {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .number_box_wrapping p {
    color: #603913;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .number_box_wrapping p strong {
    font-weight: 700;
  }

  .cmitem_box span {
    width: 10rem;
  }

  .cmitem_link button {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .cmitem_make p {
    display: none;
  }

  .mobile_slider {
    background-color: #f4f4f4;
    padding-top: 3rem;
    margin-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mobile_slider h4 {
    text-align: center;
    color: #603913;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  .heart {
    display: inline-block;
    border: 0;
    outline: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    left: 2rem;
    top: 2rem;
  }

  .heart img {
    display: inline-block;
    width: 4.8rem;
  }

  .closeModal img {
    width: 8rem;
  }

  .closeModal {
    top: 1rem;
    left: inherit;
    right: 0rem;
  }

  .cmodal_wrapper::-webkit-scrollbar {
    display: none;
  }
  .cmodal_wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .smheader_middle img {
    scale: 1.2;
  }

  span.discount {
    font-size: 1.8rem;
  }

  p.arbtext {
    font-size: 1.8rem;
  }

  h4.footer_heading {
    font-size: 2.2rem;
  }

  .footer_link ul li a {
    font-size: 2rem;
  }

  .footer_visa ul li a {
    color: #603913;
    font-size: 2.2rem;
  }

  .payment_method p {
    font-size: 2.2rem;
  }
  .footer_link ul.footer_socail li a img {
    display: inline-block;

    width: 3rem;
  }

  span.lastpara {
    font-size: 1.8rem;
  }

  .pltwo_middle .px1 {
    order: 2;
  }

  .pltwo_middle .pltwo_middle_one {
    order: 1;
  }

  .odone {
    order: 4;
  }
  .odtwo {
    order: 1;
  }
  .odthree {
    order: 2;
  }
  .odfour {
    order: 3;
  }

  .pltouch {
    order: inherit !important;
  }

  .pltouch .plone_right_top {
    order: 2;
  }

  .pltouch .plthreex {
    order: 1;
    flex-direction: column !important;
  }

  .plfour {
    padding-top: 1rem !important;
  }

  .pfour_middle .plone_right {
    display: flex;
  }
}
