@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

body {
  font-family: "Tajawal", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background: #f4f4f4;
  color: #603913;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

html {
  font-size: 0.521vw;
}

/* -- header area start -- */

header {
  padding: 1rem 6.3rem;
  position: relative;
  z-index: 99;
}

.header_left ul li {
  display: inline-block;
  margin-left: 2.4rem;
  font-size: 1.6rem;
}

.header_left ul li a {
  display: inline-block;
  color: #603913;
  font-size: 1.6rem;
}

.header_left ul li a img {
  display: inline-block;
  width: 1.3rem;
  margin-left: 0.8rem;
}

.header_left ul li img.arrow {
  display: inline-block;
  width: 1.2rem;
  margin-right: 0.5rem;
}

.header_left ul li img.flag {
  display: inline-block;
  width: 3.5rem;
  margin: 0rem 0.8rem;
}

.header_left ul li:last-child {
  margin-left: 0;
}

.header_right ul li {
  display: inline-block;
}

.header_right ul li {
  display: inline-block;
  color: #603913;
  font-size: 1.6rem;
  margin-left: 2rem;
  cursor: pointer;
}

.header_right ul li img {
  display: inline-block;
  margin-left: 0.4rem;
  width: 2rem;
}

header ul li {
  cursor: pointer;
  transition: all 0.2s ease;
}

header ul li:hover {
  opacity: 0.7;
}

.header_middle a img {
  display: inline-block;
  width: 16.5rem;
}
/* -- header area end -- */

/* -- hero area start -- */
.slide_one {
  background-image: url(../images/herobg1.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.hero_left img {
  display: block;
  width: 98rem;
}

.hero_middle {
  position: relative;
  left: 37rem;
  top: 10rem;
}

.hero_middle img {
  display: block;
  width: 15rem;
}

.hero_right h3 {
  font-size: 4rem;
  font-weight: 500;
}

.hero_right p {
  font-size: 1.6rem;
}

.hero_right h2 {
  font-size: 6rem;
  font-weight: 700;
}

.hero_right h2 span {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
}

.hero_right a {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  background-color: #603913;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
  transition: all 0.2s ease;
}

.hero_right a:hover {
  opacity: 0.7;
}

.hero_right {
  position: relative;
  left: 35rem;
  top: 14rem;
}

#hero {
  margin-top: -8rem;
}

#hero_slider {
  position: relative;
}

#hero_slider .swiper-pagination {
  position: absolute;
  left: 60.5rem !important;
  bottom: 14rem !important;
  display: inline-block !important;
  width: auto !important;
}

#hero_slider .swiper-pagination-bullet {
  width: 0.8rem !important;
  height: 0.8rem !important;
}

#hero_slider .swiper-pagination-bullet {
  background-color: #603913 !important;
  opacity: 0.2 !important;
}

#hero_slider .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.slide_two {
  background-image: url(../images/herobg2.png);
}

.slide_two_left img {
  width: 94rem;
  padding-right: 25rem;
  position: relative;
  top: -2rem;
}

.slide_two {
  padding-top: 18.5rem;
}

.hero_slide_2text {
  top: 0rem;
}

.slide-three {
  background-image: url(../images/herobg3.png);
}

.slide_three_left img {
  width: 108rem;
}

.slide-three {
  padding-top: 12.3rem;
}

.hero_slide_3text {
  top: 6rem;
}
/* -- hero area end -- */

/* -- pslider area start -- */
.pslider_box {
  background-color: #ffdcf0;
  padding: 1.8rem 2rem;
  text-align: center;
  border-radius: 1.4rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pslider_box p {
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
}

.pslider_box img {
  display: inline-block;
  max-width: 100%;
}

.pbox_two {
  background-color: #a5ffe1;
}

.pbox_three {
  background-color: #fad7be;
}

.pbox_four {
  background-color: #e1cdff;
}

.pbox_five {
  background-color: #a5ffae;
}

.pbox_six {
  background-color: #d2dcfa;
}

.pbox_seven {
  background-color: #ffd7d7;
}

.pbox_eight {
  background-color: #fad7be;
}

#pslider {
  padding-top: 2.3rem;
}
/* -- pslider area end -- */

/* -- plone area start -- */
.p1one_wrapper {
  padding: 0 4.2rem;
  display: grid;
  grid-template-columns: 76.6rem 68.3rem 33rem;
  transition: all 0.3s ease;
  column-gap: 1.8rem;
}

.plone_left {
  position: relative;
  overflow: hidden;
  border-radius: 1.8rem;
}

.plone_left img {
  display: block;
  width: 100%;
  border-radius: 1.7rem;
  transition: all 0.4s ease;
  transform-origin: center;
}

.plone_left:hover img.bigImg {
  transform: scale(1.2);
}

.plone_left button {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  z-index: 3;
  transition: all 0.2s ease;
}

.plone_left button img {
  display: inline-block;
  width: 3.5rem;
}

.plone_left button:hover {
  opacity: 0.7;
}

.plone_middle {
  position: relative;
}

span.discount {
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  position: absolute;
  right: 3rem;
  top: 1.8rem;
  border-radius: 1.8rem;
  background: #e32c3f;
  padding: 0.3rem 1.2rem;
  font-weight: 700;
  direction: ltr;
}

.plone_middle img {
  display: block;
  width: 38rem;
  margin: 0 auto;
}

p.arbtext {
  font-size: 1.36rem;
  font-weight: 500;
  margin: 0;
}

span.lastpara {
  font-size: 1.36rem;
  font-weight: 400;
}

.plone_right_top {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

.plone_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100% !important;
}

.plone_right_top img {
  display: inline-block;
  width: 25rem;
}

#plone {
  padding-top: 2.3rem;
}

.plfive {
  padding-bottom: 2.3rem;
}

.plone_middle_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s ease;
  position: relative;
  flex: none;
  background: #fff;
  border-radius: 1.8rem;
}

.plone_middle:hover .plone_middle_wrapper {
  width: 49%;
}

.plone_middle_two {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.plone_wrapper_next {
  width: 100%;
}

.plone_middle:hover .plone_wrapper_next {
  width: 49%;
}

/* .box_one {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: none;
}


.box_first {
  transition: all 0.8s ease;
  transition-delay: 1s;
}

.plone_middle:hover .box_first {
  height: 49%;
}


.new_hover {
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
}

.box_two {
  height: 48% !important;
} */

.box_first,
.box_two {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
}

.box_two {
  height: 49%;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.box_first {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.8s linear;
  transition-delay: 0.4s;
  z-index: 9;
}

.plone_middle:hover .box_first {
  height: 49%;
}

.plone_wrapper_next {
  position: relative;
}

.new_hover {
  background-color: transparent;
}

/* -- plone area end -- */

/* -- pbslider area start -- */
#pbslider {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.pbslider_box {
  height: 15.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -- pbslider area end -- */

/* -- pltwo area start -- */
.pltwo .p1one_wrapper {
  grid-template-columns: 33rem 68.3rem 76.6rem;
}

.pltwo_middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.6rem;
}

.pltwo_middle_one .plone_right_top {
  position: relative;
}

.pltwo_middle_one span.discount {
  background-color: #9747ff;
  right: inherit;
  left: 3rem;
}

.pltwo_middle_one img {
  width: 17rem;
}

.pltwo_left .plone_right_top {
  position: relative;
}

.pltwo {
  padding-top: 4.5rem !important;
}

/* -- pltwo area end -- */

/* -- plthree area start -- */
.ttimages img {
  width: 18rem;
}
/* -- plthree area end -- */

/* -- plfour area start -- */
.pfour_middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pfour_middle .plone_right {
  flex-direction: row;
  height: 49% !important;
}

.pfour_middle .plone_right_top {
  width: 100%;
  height: 100%;
}

.f2img {
  width: 19rem !important;
}

.p4middle {
  height: 49%;
}

.p4middle span.discount {
  background-color: #e32c3f;
  left: inherit;
  right: 3rem;
}

.f4img {
  width: 37rem !important;
}

.f6img {
  width: 18rem !important;
}

.plfour {
  padding-top: 2.3rem !important;
}
/* -- plfour area end -- */

/* -- discount area start -- */
#discount {
  background-color: #fff;
}

.discount_wrapper {
  padding: 2.4rem 2.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5rem;
}

.discount_right,
.discount_left {
  position: relative;
  border-radius: 1.4rem;
  overflow: hidden;
}

.discount_right img {
  display: block;
  width: 100%;
  height: 39rem;
  object-fit: cover;
}

.discount_percent p {
  font-size: 1.7rem;
  font-weight: 500;
  color: #d21e32;
  margin-bottom: 0;
}

.discount_percent span {
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 1rem;
  background: #e32c3f;
  padding: 0.3rem 1.2rem;
  font-weight: 700;
  direction: ltr;
}

.discount_percent {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.dr_cnt,
.dl_cnt {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 5rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.dr_cnt p,
.dl_cnt p {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.dr_cnt a,
.dl_cnt a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  background-color: #603913;
  display: inline-block;
  width: 12rem;
  transition: all 0.2s ease;
}

.dr_cnt a:hover,
.dl_cnt a:hover {
  opacity: 0.7;
}

.dl_cnt {
  height: 100%;
}
/* -- discount area end -- */

/* -- video area start -- */
#video {
  position: relative;
}

#video video {
  display: block;
  width: 100%;
  position: relative;
  height: 39.2rem;
  object-fit: cover;
}

.video_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video_text p {
  color: #fff;
  font-family: Tajawal;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.video_text a {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  padding: 0.8rem 4.6rem;
  border-radius: 1rem;
  background-color: #603913;
  display: inline-block;
  transition: all 0.2s ease;
}

.video_text a:hover {
  opacity: 0.7;
}
/* -- video area end -- */

/* -- golden area start -- */
.golden_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.golden_right {
  background-color: #e2ffd4;
}

.golden_right_wrapper {
  height: 100%;
  width: 65%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.golden_right_wrapper h5 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 0;
}

.golden_right_wrapper p {
  text-align: right;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin: 2rem 0;
}

.golden_right_wrapper a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  background-color: #603913;
  display: inline-block;
  transition: all 0.2s ease;
  max-width: 14rem;
  text-align: center;
}

.golden_right_wrapper a:hover {
  opacity: 0.7;
}

.discount_left img {
  display: block;
  width: 100%;
  height: 39rem;
  object-fit: cover;
}
/* -- golden area end -- */

/* -- customer area start -- */
.customer_wrapper {
  padding: 0 18.2rem;
}

.customer_wrapper > h3 {
  text-align: center;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.customer_box img {
  display: block;
  width: 100%;
}

#customer {
  padding-top: 7rem;
}

#pslider img {
  width: 100%;
}

#pbslider img {
  width: 62%;
}

.mySwiper_four img {
  width: 100% !important;
}

/* -- customer area end -- */

/* -- footer area start -- */

footer {
  padding: 7rem 26.3rem;
  padding-bottom: 2rem;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_logo a img {
  display: inline-block;
  width: 19rem;
  margin-bottom: 1.6rem;
}

.footer_logo p {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: capitalize;
}

.footer_visa ul li a {
  color: #603913;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.footer_visa ul li img {
  display: inline-block;
  width: 1.1rem;
  margin-right: 1rem;
}

.footer_visa ul li:last-child {
  margin-top: 1rem;
}

.footer_visa ul li img.world {
  display: inline-block;
  width: 2rem;
  margin-left: 1rem;
}

.payment_method {
  margin-top: 2rem;
}

.payment_method p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: capitalize;
}

.payment_method img {
  display: block;
  width: 28.6rem;
}

h4.footer_heading {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 1.6rem;
}

.footer_link ul.footer_socail li {
  display: inline-block;
}

.footer_link ul.footer_socail li a {
  display: inline-block;
  transition: all 0.2s ease;
}

.footer_link ul.footer_socail li a img {
  display: inline-block;
  width: 2.3rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer_link ul.footer_socail li a:hover {
  opacity: 0.7;
}

.footer_link ul li a {
  display: inline-block;
  color: #603913;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: capitalize;
  transition: all 0.2s ease;
}

.footer_link ul li a:hover {
  opacity: 0.7;
}

.golden_left img {
  display: block;
  width: 100%;
}

/* -- footer area end -- */

/* --offcanvas area start-- */

.close_modal p {
  font-size: 2.2rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.side_offcanvas {
  padding-right: 4rem;
}

.side_offcanvas .offcanvas-header {
  padding-right: 0;
  padding-top: 2rem;
}

.side_offcanvas .offcanvas-body {
  padding-right: 0;
}

.side_offcanvas.offcanvas.offcanvas-start {
  width: 31rem;
}

.offcanvas_link ul li a {
  display: inline-block;
  color: #603913;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding: 1rem 0rem;
  transition: all 0.2s ease;
}

.offcanvas_link ul li a:hover {
  opacity: 0.7;
}
/* --offcanvas area end-- */

/* -- modal area start -- */

.cmodal {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.cmodal_wrapper {
  width: 159rem;
  height: 88rem;
  background-color: #ffffff;
  border-radius: 4rem;
}

.five {
  width: 100%;
  height: 100%;
  position: relative;
}

.cmodal_right_wrapper {
  height: 88rem;
  padding: 3rem 3.6rem;
  background-color: #f4f4f4;
  position: relative;
  border-radius: 0rem 4rem 4rem 0;
}

.cmodal_right {
  height: 70rem;
  position: relative;
}

.cmodal_wrapper {
  display: grid;
  grid-template-columns: 30.7rem calc(100% - 30.7rem);
  position: relative;
}

.cmodal_right h4 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 4.5rem;
}

.swpiper_img {
  background-color: #fff;
  border-radius: 2rem;
  padding: 1rem;
}

.swpiper_img img {
  display: block;
  width: 100%;
}

.slide_cnt p {
  color: #603913;
  font-size: 1.4998rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.slide_cnt span {
  display: inline-block;
  color: #603913;
  font-size: 1.4998rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.cmodal .swiper-button-next {
  top: inherit;
  bottom: -12rem;
  left: 46%;
  right: inherit;
}

.cmodal .swiper-button-next:after {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  background-image: url(../images/down.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.cmodal .swiper-button-prev:after {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  background-image: url(../images/down.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.cmodal .swiper-button-prev {
  bottom: inherit;
  top: 6rem;
  left: 46%;
  right: inherit;
}

.cmodal .swiper-button-disabled {
  opacity: 0;
}

.cmodal_left_slider img {
  display: block;
  width: 100%;
}

.cmodal_left {
  display: grid;
  grid-template-columns: 64.15rem 64.15rem;
}

.swiper-paginationone {
  margin-top: 7rem;
  text-align: center;
}

.cmodal_left .swiper-pagination-bullet {
  background-color: #603913;
}

.cmodal_left_slider {
  padding-right: 4rem;
}

.cmodal_left_cnt {
  padding: 0px 4rem;
  padding-left: 10rem;
}

.cmheading h4 {
  text-align: right;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.cmheading_box_right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cmheading_box_right p.toppara {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.cmheading_box_right p.toppara span {
  font-weight: 700;
}

.cmheading_box_right p.bottompara {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding-right: 1.5rem;
}

.cmheading_box_right p.bottompara {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.cmheading_box_right p.bottompara span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #84b740;
  border-radius: 50%;
}

.cmheading_box {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.cmitem_make_right_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cmitem_box {
  background-color: rgba(96, 57, 19, 0.1);
  border-radius: 1.2rem;
}

.cmitem_box button {
  display: inline-block;
  border: 0;
  outline: none;
  padding: 0;
  font-size: 2rem;
  font-weight: 500;
  color: #603913;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1rem;
  border: 1px solid #603913;
  background-color: #fff;
  transition: all 0.2s ease;
}

.cmitem_box button:hover {
  background-color: #603913;
  color: #fff;
}

.cmitem_box span {
  display: inline-block;
  color: #603913;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  width: 6rem;
  text-align: center;
}

.cmitem_link button {
  display: inline-block;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  width: 24.5rem;
  padding: 0.8rem 1.6rem;
  justify-content: center;
  background-color: #603913;
  border-radius: 1rem;
  transition: all 0.2s ease;
}

.cmitem_link button:hover {
  opacity: 0.7;
}

.cmitem_make p {
  margin-bottom: 0;
  color: #603913;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 1rem;
}

.cmitem_make p img {
  display: inline-block;
  width: 1.6rem;
  margin-left: 1rem;
}

.cmitem_make {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.cmaccoridien .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: transparent;
  border: 0;
  color: #603913;
}

.cmaccoridien .accordion-button img {
  display: inline-block;
  width: 1.8rem;
  margin-left: 1rem;
}

.cmaccoridien .accordion-button {
  color: #603913;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 0;
}

.cmaccoridien .accordion-item:first-of-type .accordion-button {
  border-radius: 0 !important;
}

.cmaccoridien .accordion-item {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.cmaccoridien .accordion-item button {
  padding-right: 0 !important;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.cmaccoridien .accordion-button::after {
  background-image: url(../images/down.svg) !important;
}

.cmaccoridien .accordion-body p {
  font-size: 1.6rem;
  color: #603913;
}

.acc_text {
  display: flex;
  gap: 15rem;
}

.acctext_left p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #603913;
}

.acctext_left ul li {
  font-size: 1.6rem;
  color: #603913;
  font-weight: 400;
}

.cmwrapping {
  display: flex;
  width: 100%;
  align-items: center;
}

.closeModal {
  position: absolute;
  border: 0;
  outline: none;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  width: 10rem;
  top: 3rem;
  left: 3rem;
}

.cmodal {
  transform: scale(0);
  transform-origin: center center;
  visibility: hidden;
  transition: all 0.2s ease;
}

.cmodal.openModal {
  transform: scale(1);
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
}

button.disabled {
  opacity: 0.3;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
/* -- modal area end -- */

/* -- card area start -- */
.card {
  width: 37rem;
  height: 100vh;
  background-color: #fff;
  z-index: 99999;
  position: fixed;
  left: -100%;
  top: 0;
  padding: 3.5rem 2.2rem;
  transition: all 0.4s ease;
}

.card_heading_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_heading_left p,
.card_heading_left span {
  color: #603913;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.card_heading_left img {
  display: inline-block;
  width: 1.4rem;
  margin-left: 1rem;
}

.card_heading_left span {
  cursor: pointer;
}

.cp_one {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cp_one_right {
  width: 9rem;
}

.cp_one_right img {
  width: 100%;
}

.cp_one_left p {
  margin-bottom: 0;
  color: #603913;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cp_one_left p:last-child {
  font-size: 1.2rem;
}

.cp_one_left p:last-child span {
  font-weight: 400;
}

.card_product {
  padding-top: 4rem;
  height: 70vh;
}

.card_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_btn a {
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding: 0.8rem 3.8rem;
  background-color: #603913;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

.card_btn a:last-child {
  background-color: transparent;
  border-color: #603913;
  color: #603913;
}

.card_btn a:last-child:hover {
  background-color: #603913;
  color: #fff;
}

.openCart {
  left: 0;
}
/* -- card area end -- */

/* -- smheader area start -- */
.smheader_wrapper {
  padding: 0px 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smheader_right button {
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.smheader_right button img {
  display: inline-block;
  width: 2.4rem;
}

.smheader_middle a {
  display: inline-block;
  width: 12rem;
}

.smheader_left ul li {
  display: inline-block;
}

.smheader_left ul li a {
  display: inline-block;
  margin-right: 1.5rem;
}

.smheader_left ul li a img {
  display: inline-block;
  width: 2.4rem;
}

.smheader_middle {
  margin-left: -5rem;
}

#header {
  padding-top: 2rem;
  position: relative;
  z-index: 99;
}
/* -- smheader area end -- */

/* -- smhero area start -- */
.smhero_cnt {
  margin-top: 1rem;
}

.smhero_cnt h3 {
  color: #603913;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.smhero_cnt p {
  color: #603913;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.smhero_cnt p strong {
  color: #603913;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.smhero_cnt a {
  display: inline-block;
  padding: 0.8rem 2.6rem;
  border-radius: 1rem;
  background-color: #603913;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.2s ease;
  margin-top: 1rem;
}

.smhero_cnt {
  padding-bottom: 4rem;
}

.smhero_pagi {
  top: initial !important;
  bottom: 0rem !important;
}

.swiper-pagination-bullet-active {
  background-color: #603913;
}

#smhero {
  margin-top: -6.5rem;
}

.plfive .pltwo_middle {
  display: block;
}

.plfive .p1one_wrapper {
  grid-template-columns: 76.6rem 33rem 68.3rem;
}

.plfive .pltwo_left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.8rem;
}

/* -- smhero area end -- */
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: auto;
}

.footer_link-group {
  display: flex;
  column-gap: 20rem;
}

.footer_link-group .footer_link {
  width: 50%;
}
.offcanvas_link ul li a img {
  display: none;
}

.closeModal img {
  display: inline-block;
  width: 10rem;
}

.footer_visa ul li ul li:last-child {
  margin-top: 0;
}
