@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

body {
  font-family: "Tajawal", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background: #f4f4f4;
  color: #603913;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

html {
  font-size: 0.521vw;
}

/* -- header area start -- */

header {
  padding: 1rem 6.3rem;
  position: relative;
  z-index: 99;
}

.header_left ul li {
  display: inline-block;
  margin-left: 2.4rem;
  font-size: 1.6rem;
}

.header_left ul li a {
  display: inline-block;
  color: #603913;
  font-size: 1.6rem;
}

.header_left ul li a img {
  display: inline-block;
  width: 1.3rem;
  margin-left: 0.8rem;
}

.header_left ul li img.arrow {
  display: inline-block;
  width: 1.2rem;
  margin-right: 0.5rem;
}

.header_left ul li img.flag {
  display: inline-block;
  width: 3.5rem;
  margin: 0rem 0.8rem;
}

.header_left ul li:last-child {
  margin-left: 0;
}

.header_right ul li {
  display: inline-block;
}

.header_right ul li {
  display: inline-block;
  color: #603913;
  font-size: 1.6rem;
  margin-left: 2rem;
  cursor: pointer;
}

.header_right ul li img {
  display: inline-block;
  margin-left: 0.4rem;
  width: 2rem;
}

header ul li {
  cursor: pointer;
  transition: all 0.2s ease;
}

header ul li:hover {
  opacity: 0.7;
}

.header_middle a img {
  display: inline-block;
  width: 16.5rem;
}
/* -- header area end -- */

/* -- hero area start -- */
.slide_one {
  background-image: url(../images/herobg1.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.hero_left img {
  display: block;
  width: 98rem;
}

.hero_middle {
  position: relative;
  left: 37rem;
  top: 10rem;
}

.hero_middle img {
  display: block;
  width: 15rem;
}

.hero_right h3 {
  font-size: 4rem;
  font-weight: 500;
}

.hero_right p {
  font-size: 1.6rem;
}

.hero_right h2 {
  font-size: 6rem;
  font-weight: 700;
}

.hero_right h2 span {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
}

.hero_right a {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  background-color: #603913;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
  transition: all 0.2s ease;
}

.hero_right a:hover {
  opacity: 0.7;
}

.hero_right {
  position: relative;
  left: 35rem;
  top: 14rem;
}

#hero {
  margin-top: -8rem;
}

#hero_slider {
  position: relative;
}

#hero_slider .swiper-pagination {
  position: absolute;
  left: 60.5rem !important;
  bottom: 14rem !important;
  display: inline-block !important;
  width: auto !important;
}

#hero_slider .swiper-pagination-bullet {
  width: 0.8rem !important;
  height: 0.8rem !important;
}

#hero_slider .swiper-pagination-bullet {
  background-color: #603913 !important;
  opacity: 0.2 !important;
}

#hero_slider .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.slide_two {
  background-image: url(../images/herobg2.png);
}

.slide_two_left img {
  width: 94rem;
  padding-right: 25rem;
  position: relative;
  top: -2rem;
}

.slide_two {
  padding-top: 18.5rem;
}

.hero_slide_2text {
  top: 0rem;
}

.slide-three {
  background-image: url(../images/herobg3.png);
}

.slide_three_left img {
  width: 108rem;
}

.slide-three {
  padding-top: 12.3rem;
}

.hero_slide_3text {
  top: 6rem;
}
/* -- hero area end -- */

/* -- pslider area start -- */
.pslider_box {
  background-color: #ffdcf0;
  padding: 1.8rem 2rem;
  text-align: center;
  border-radius: 1.4rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pslider_box p {
  font-size: 2.2rem;
  font-weight: 500;
  white-space: nowrap;
}

.pslider_box img {
  display: inline-block;
  max-width: 100%;
}

.pbox_two {
  background-color: #a5ffe1;
}

.pbox_three {
  background-color: #fad7be;
}

.pbox_four {
  background-color: #e1cdff;
}

.pbox_five {
  background-color: #a5ffae;
}

.pbox_six {
  background-color: #d2dcfa;
}

.pbox_seven {
  background-color: #ffd7d7;
}

.pbox_eight {
  background-color: #fad7be;
}

#pslider {
  padding-top: 2.3rem;
}
/* -- pslider area end -- */

/* -- plone area start -- */
.p1one_wrapper {
  padding: 0 4.2rem;
  display: grid;
  grid-template-columns: 76.6rem 68.3rem 33rem;
  transition: all 0.3s ease;
  column-gap: 1.8rem;
}

.plone_left {
  position: relative;
  overflow: hidden;
  border-radius: 1.8rem;
}

.plone_left img {
  display: block;
  width: 100%;
  border-radius: 1.7rem;
  transition: all 0.4s ease;
  transform-origin: right top;
}

.plone_left:hover img.bigImg {
  transform: scale(1.2);
}

.plone_left button {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  z-index: 3;
  transition: all 0.2s ease;
}

.plone_left button img {
  display: inline-block;
  width: 3.5rem;
}

.plone_left button:hover {
  opacity: 0.7;
}

.plone_middle {
  position: relative;
}

span.discount {
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  position: absolute;
  right: 3rem;
  top: 1.8rem;
  border-radius: 1.8rem;
  background: #e32c3f;
  padding: 0.3rem 1.2rem;
  font-weight: 700;
}

.plone_middle img {
  display: block;
  width: 38rem;
  margin: 0 auto;
}

p.arbtext {
  font-size: 1.36rem;
  font-weight: 500;
  margin: 0;
}

span.lastpara {
  font-size: 1.36rem;
  font-weight: 400;
}

.plone_right_top {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
  height: 100%;
}

.plone_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100% !important;
}

.plone_right_top img {
  display: inline-block;
  width: 25rem;
}

#plone {
  padding-top: 2.3rem;
}

.plone_middle_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s ease;
  position: relative;
  flex: none;
  background: #fff;
  border-radius: 1.8rem;
}

.plone_middle:hover .plone_middle_wrapper {
  width: 49%;
}

.plone_middle_two {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.plone_wrapper_next {
  width: 100%;
}

.plone_middle:hover .plone_wrapper_next {
  width: 49%;
}

/* .box_one {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: none;
}


.box_first {
  transition: all 0.8s ease;
  transition-delay: 1s;
}

.plone_middle:hover .box_first {
  height: 49%;
}


.new_hover {
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
}

.box_two {
  height: 48% !important;
} */

.box_first,
.box_two {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
}

.box_two {
  height: 49%;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.box_first {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.8s linear;
  transition-delay: 0.4s;
  z-index: 9;
}

.plone_middle:hover .box_first {
  height: 49%;
}

.plone_wrapper_next {
  position: relative;
}

.new_hover {
  background-color: transparent;
}

/* -- plone area end -- */

/* -- pbslider area start -- */
#pbslider {
  padding-top: 1rem;
}

.pbslider_box {
  height: 15.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -- pbslider area end -- */

/* -- pltwo area start -- */
.pltwo .p1one_wrapper {
  grid-template-columns: 33rem 68.3rem 76.6rem;
}

.pltwo_middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.6rem;
}

.pltwo_middle_one .plone_right_top {
  position: relative;
}

.pltwo_middle_one span.discount {
  background-color: #9747ff;
  right: inherit;
  left: 3rem;
}

.pltwo_middle_one img {
  width: 17rem;
}

.pltwo_left .plone_right_top {
  position: relative;
}

.pltwo {
  padding-top: 4.5rem !important;
}

/* -- pltwo area end -- */

/* -- plthree area start -- */
.ttimages img {
  width: 18rem;
}
/* -- plthree area end -- */

/* -- plfour area start -- */
.pfour_middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pfour_middle .plone_right {
  flex-direction: row;
  height: 49% !important;
}

.pfour_middle .plone_right_top {
  width: 100%;
  height: 100%;
}

.f2img {
  width: 19rem !important;
}

.p4middle {
  height: 49%;
}

.p4middle span.discount {
  background-color: #e32c3f;
  left: inherit;
  right: 3rem;
}

.f4img {
  width: 37rem !important;
}

.f6img {
  width: 18rem !important;
}

.plfour {
  padding-top: 2.3rem !important;
}

/* -- plfour area end -- */
